@font-face {
  font-family: MyAvenir;
  src: url("/fonts/AvenirNextLTPro-BoldCn.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: MyHelvetica;
  src: url("/fonts/HelveticaNeueLTPro-BdCn.otf") format("opentype");
  font-weight: 700;
}
body,
html {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 28px;
}
.content__wrapper {
  max-width: 1125px;
  margin: 0 auto;
}
/* header */
.header__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px 120px;
  box-shadow: 0 5px 5px;
}
.header__nav {
  font-size: 0;
  display: flex;
  align-items: center;
}
.header__nav > a {
  text-decoration: none;
  color: #000000;
  margin: 0 12.5px;
  font-weight: 700;
  font-size: 0.9rem;
}
/* .header__inner */
.header__inner {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 100%, transparent),
    url("img/header__inner-bg.jpg") no-repeat;
  background-size: cover;
  padding: 35px 0 75px;
}
.header__inner-wrapper > h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2.9em;
  color: #fcb800;
  text-align: center;
  line-height: 74px;
  text-shadow: -0 -4px 0 #000000, 0 -4px 0 #000000, -0 4px 0 #000000,
    0 4px 0 #000000, -4px -0 0 #000000, 4px -0 0 #000000, -4px 0 0 #000000,
    4px 0 0 #000000, -1px -4px 0 #000000, 1px -4px 0 #000000, -1px 4px 0 #000000,
    1px 4px 0 #000000, -4px -1px 0 #000000, 4px -1px 0 #000000,
    -4px 1px 0 #000000, 4px 1px 0 #000000, -2px -4px 0 #000000,
    2px -4px 0 #000000, -2px 4px 0 #000000, 2px 4px 0 #000000,
    -4px -2px 0 #000000, 4px -2px 0 #000000, -4px 2px 0 #000000,
    4px 2px 0 #000000, -3px -4px 0 #000000, 3px -4px 0 #000000,
    -3px 4px 0 #000000, 3px 4px 0 #000000, -4px -3px 0 #000000,
    4px -3px 0 #000000, -4px 3px 0 #000000, 4px 3px 0 #000000,
    -4px -4px 0 #000000, 4px -4px 0 #000000, -4px 4px 0 #000000,
    4px 4px 0 #000000, -4px -4px 0 #000000, 4px -4px 0 #000000,
    -4px 4px 0 #000000, 4px 4px 0 #000000;
}
.header__inner-flexcontainer {
  max-width: 965px;
  margin: 90px auto 0;
}
.header__inner-flexcontainer > p {
  font-size: 1.4em;
  font-family: MyHelvetica;
  letter-spacing: 0.01em;
  line-height: 72px;
  border: none;
  display: inline-block;
  color: #ffffff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  max-width: 600px;
  width: 100%;
  text-align: center;
}
.header__inner-text {
  border: #ff0000 8px solid;
  text-align: center;
  border-top: none;
  border-bottom: none;
  position: relative;
  display: inline-block;
  max-width: 600px;
  width: 100%;
}
.header__inner-text::before {
  content: "";
  background: linear-gradient(
    to right,
    #ff0000 15%,
    transparent 15%,
    transparent 85%,
    #ff0000 85%
  );
  position: absolute;
  left: 0;
  top: 0;
  height: 8px;
  width: 100%;
}
.header__inner-text > p {
  color: #ffffff;
  font-family: MyHelvetica;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
  margin: 0;
}
.header__inner-text > p:first-of-type {
  position: absolute;
  left: 19%;
  top: -10%;
  font-size: 2.1em;
  line-height: 60px;
}
.header__inner-text > p:nth-of-type(2) {
  margin-top: 30px;
  font-size: 2.2em;
  letter-spacing: 0.01;
  line-height: 54px;
}
.header__inner-text > p:nth-of-type(3) {
  font-size: 3.5em;
  line-height: 72px;
  margin-bottom: 10px;
}
.header__inner-text > p:nth-of-type(4) {
  margin: 0;
  font-size: 3.6em;
  letter-spacing: -0.01;
  line-height: 86px;
  font-family: MyAvenir;
  background: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
  padding: 0 15px;
}
.header__inner-img {
  display: inline-block;
  position: absolute;
  left: 63%;
  top: 63%;
}
/* header__sidebar */
.header__sidebar {
  background: #fcb800;
  text-align: center;
  padding: 25px 0;
}
.header__sidebar > p {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}
/* timer__wrapper */
.timer__wrapper {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
}
.timer__wrapper > div {
  border: 15px #fcb800 solid;
  border-radius: 50%;
  padding: 51px 0;
  max-width: 220px;
  width: 100%;
  text-align: center;
  color: #c80000;
  font-family: MyHelvetica;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 44px;
}
.timer__wrapper > div > p {
  font-size: 3.8rem;
  margin: 0 0 10px;
}
/* text  */
.text {
  background: url("img/text__bg.jpg") no-repeat;
  background-size: cover;
  padding: 120px 140px 80px;
}
.text::before {
  content: "";
  border-top: 60px solid #ffffff;
  border-left: 340px solid transparent;
  border-right: 340px solid transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200%);
}
.text__wrapper {
  background: #fffffe;
  padding: 40px;
}
.text__wrapper > p {
  margin: 0 0 28px;
}
.text__wrapper > p > u {
  font-weight: 700;
}
.text__wrapper-underline.underline__regular {
  font-weight: 400;
}
/* 768px пропадає банка */
